@import "tailwindcss";

@theme {
    --color-brand-green: #194025;
    --color-brand-green-light: #2ECC71;
    --color-brand-green-dark: #0D2B18;

    --color-brand-dark: #0F172A;
    --color-brand-dark-soft: #1e293b;

    --color-brand-dustGold: #FAF7F2;
    --color-brand-dustGold-light: #FDFCFB;
    --color-brand-dustGold-dark: #A6864A;

    --color-brand-light: #F8FAFC;
    --color-brand-teal: #2ECC71;

    --radius-button: 0.625rem;
    --radius-card: 1rem;

    --shadow-fintech: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
    --shadow-premium: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
}

@layer base {
    body {
        @apply bg-brand-light text-brand-dark;
    }
}